---
# yamllint disable rule:line-length
.in-android-environment:
  image: "raatiniemi/android-environment:jdk-${JDK_VERSION}-android-${ANDROID_API_VERSION}-latest"
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - sed -i -e 's/-all.zip/-bin.zip/' "${GRADLE_WRAPPER_DIRECTORY}/gradle-wrapper.properties"
    - GRADLE_VERSION=$(grep "distributionUrl" "${GRADLE_WRAPPER_DIRECTORY}/gradle-wrapper.properties" | grep -Po "(\d+\.)+\d+")
    - ./gradlew wrapper --gradle-version "${GRADLE_VERSION}"
    - curl --location --output "${GRADLE_WRAPPER_DIRECTORY}/gradle-wrapper.jar.sha256" "https://services.gradle.org/distributions/gradle-${GRADLE_VERSION}-wrapper.jar.sha256"
    - echo "  gradle-wrapper.jar" >> "${GRADLE_WRAPPER_DIRECTORY}/gradle-wrapper.jar.sha256"
    - (cd "${GRADLE_WRAPPER_DIRECTORY}" && sha256sum --check gradle-wrapper.jar.sha256)
    - if [ -z "${KEYSTORE_BASE64}" ]; then echo "No keystore is available, ensure that \$KEYSTORE_BASE64 is set for project."; exit 1; fi;
    - echo "$KEYSTORE_BASE64" | base64 -d >"${KEYSTORE_PATH}"
  after_script:
    - rm -f "${KEYSTORE_PATH}"
  interruptible: true
  tags:
    - docker
  variables:
    ANDROID_HOME: "/opt/android-sdk"
    ANDROID_API_VERSION: "32"
    GRADLE_WRAPPER_DIRECTORY: "./gradle/wrapper"
    GRADLE_OPTS: "-Dorg.gradle.daemon=false"
    JDK_VERSION: "8"
    KEYSTORE_PATH: "app/upload.jks"
# yamllint enable rule:line-length
